@use "../abstracts";
%flexItemsCenter {
  display: flex;
  align-items: center;
}
.header {
  background-color: var(--header-bg-color);
}
.top-bar {
  @extend %flexItemsCenter;
  padding: 30px 0;
  @include abstracts.breakpoint(sm) {
    padding: 16px 0;
    justify-content: space-between;
  }
  @include abstracts.breakpoint(lg) {
    padding: 20px 0;
  }
  
  &__more {
    display: none;
    @include abstracts.breakpoint(lg) {
      display: block;
    }
  }
}
.navbar {
  margin-left: 144px;
  @include abstracts.breakpoint(xl) {
    display: none;
  }
  &__list {
    @extend %flexItemsCenter;
    gap: 30px;
  }
  &__link {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.47;
    @extend %flexItemsCenter;
    gap: 6px;
  }
  &__arrow {
    margin-top: 3px;
  }
}
.top-act {
  margin-left: auto;
  @extend %flexItemsCenter;
  gap: 20px;
  @include abstracts.breakpoint(sm) {
      margin-left: 0;
    }
  &__group {
    @extend %flexItemsCenter;
    border-radius: 8px;
    background: var(--top-act-group-bg-color);
    box-shadow: 0px 20px 60px 10px var(--top-act-group-shadow);
    min-width: 50px;
    height: 50px;
    @include abstracts.breakpoint(md) {
      display: none;
    }
  }
  &__group--single &__btn {
    padding: 13px;
  }
  &__group--single {
    @include abstracts.breakpoint(lg) {
      display: none;
    }
  }
  &__avatar {
    width: 50px;
    height: 50px;
    border-radius: 8px;
    display: flex;
    cursor: pointer;
  }
  &__btn {
    @extend %flexItemsCenter;
    padding: 13px 20px;
    gap: 10px;
    cursor: pointer;
  }
  &__title {
    font-family: Gordita;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.47;
  }
  &__separate {
    width: 1px;
    height: 30px;
    background: var(--top-act-group-separate);
  }
}
