%flexItemsCenter{
  display: flex;
  align-items: center;
}
.header {
  background-color: var(--header-bg-color);
}
.top-bar {
  @extend %flexItemsCenter;
  padding: 30px 0;
}
.navbar {
  margin-left: 144px;
  margin-right: auto;
  &__list {
    @extend %flexItemsCenter;
    gap: 30px;
  }
  &__link {
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.47;
    @extend %flexItemsCenter;
    gap: 6px;
  }
  &__arrow {
    margin-top: 3px;
  }
}
.top-act {
  @extend %flexItemsCenter;
  gap: 20px;
  &__group {
    @extend %flexItemsCenter;
    border-radius: 8px;
    background: var(--top-act-group-bg-color);
    box-shadow: 0px 20px 60px 10px var(--top-act-group-shadow);
    min-width: 50px;
    height: 50px;
    
  }
  &__group--single &__btn{
    padding: 13px;
  }
  &__avatar {
    width: 50px;
    height: 50px;
    border-radius: 8px;
    display: flex;
    cursor: pointer;
  }
  &__btn {
    @extend %flexItemsCenter;
    padding: 13px 20px;
    gap: 10px;
    cursor: pointer;
  }
  &__title {
    font-family: Gordita;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.47;
  }
  &__separate {
    width: 1px;
    height: 30px;
    background: var(--top-act-group-separate);
  }
}
