*,
::before,
::after {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: Gordita, sans-serif;
    color:var(--text-color);
    background-color: var(--body-bg);
}
a{
    text-decoration: none;
    color: inherit;
}
button{
    border:none;
    background: transparent;
    outline:none;
}
button,
input,
textarea,
select {
    font-family: inherit;
    color: inherit;
}

.icon {
    filter: var(--icon-color);
}